@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.title {
  margin-top: 1em;
  font-weight: normal;
}

.title__span {
  font-weight: 900;
}
