@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.app {
  max-width: 100%;
}

.title {
  margin-top: 1em;
  color: #00adb5;
}

.title__span {
  font-weight: 900;
  color: #393e46;
  margin-right: 0.3em;
}

.title__icon {
  margin-right: 0.25em;
  font-size: 0.7em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-container {
  margin-top: 2em;
  width: 100%;
  display: grid;
}

@media screen and (max-width: 768px) {
  .task-container {
    grid-template-columns: repeat(autofill, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .task-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .task-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
