.task {
  /* background-color: #00adb5; */
  background-color: #393e46;
  color: white;
  margin: 0.5em;
  padding: 1em;
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.task:hover {
  transform: scale(1.05);
  transition: all 200ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 20px 40px,
    rgba(0, 0, 0, 0.23) 0px 12px 12px;
}

.task__buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}

.task__button {
  width: 20px;
  height: 20px;
  background-color: #393e46;
  color: white;
  display: flex;
  padding: 0.5em;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  margin: 0.5em;
  border: none;
  outline: none;
}

.task__button:hover {
  cursor: pointer;
}

.task__button-icon {
}

.task__button:hover {
  color: #00adb5;
  cursor: pointer;
  transform: scale(1.5);
  transition: all 200ms ease-in-out;
}

.task__input {
  display: none;
  text-decoration: none;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 0.2em 0.5em;
  margin-top: 0.5em;
}
